{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li class="header-level-1">
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {% comment %} {% render 'icon-caret' %} {% endcomment %}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <ul
                  class="
                    mega-menu__list
                    mega-menu-padding  {% if link.levels == 1 %} mega-menu__list--condensed{% endif %}
                  "
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link  h6 link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
                <div
                  class="mega-menu__promo"                >
                  <a href="/pages/collaboration" class="v-stack justify-items-center gap-4 sm:gap-5 group">
                    <div class="overflow-hidden">
                      <img
                        src="//prestige-theme-allure.myshopify.com/cdn/shop/files/mega-menu-image-le-dalia.jpg?v=1681202495&amp;width=650"
                        alt=""
                        srcset="//prestige-theme-allure.myshopify.com/cdn/shop/files/mega-menu-image-le-dalia.jpg?v=1681202495&amp;width=315 315w, //prestige-theme-allure.myshopify.com/cdn/shop/files/mega-menu-image-le-dalia.jpg?v=1681202495&amp;width=630 630w"
                        width="650"
                        height="813"
                        loading="lazy"
                        sizes="315px"
                        class="zoom-image group-hover:zoom"
                      >
                    </div>
                    <div class="v-stack text-center gap-2.5">
                      <p class="h6">léo &amp; violette x wendy swan</p>
                      <p class="smallcaps text-xs text-subdued">the dalia</p>
                    </div></a
                  ><a href="/pages/color" class="v-stack justify-items-center gap-4 sm:gap-5 group">
                    <div class="overflow-hidden">
                      <img
                        src="//prestige-theme-allure.myshopify.com/cdn/shop/files/mega-menu-image-color.jpg?v=1681202556&amp;width=650"
                        alt=""
                        srcset="//prestige-theme-allure.myshopify.com/cdn/shop/files/mega-menu-image-color.jpg?v=1681202556&amp;width=315 315w, //prestige-theme-allure.myshopify.com/cdn/shop/files/mega-menu-image-color.jpg?v=1681202556&amp;width=630 630w"
                        width="650"
                        height="813"
                        loading="lazy"
                        sizes="315px"
                        class="zoom-image group-hover:zoom"
                      >
                    </div>
                    <div class="v-stack text-center gap-2.5">
                      <p class="h6">the symbol of our values</p>
                      <p class="smallcaps text-xs text-subdued">almond green</p>
                    </div>
                  </a>
                </div>
                {%- capture mega_menu_content -%}
                {%- render 'mega-menu-images', context: 'menu', block: block -%}
              {%- endcapture -%}

                {%- if mega_menu_content != blank -%}
                  <div class="mega-menu__promo">
                    {{- mega_menu_content -}}
                  </div>
                {%- endif -%}
              </div>
            </details>
            {%- capture mega_menu_content -%}
            {%- render 'mega-menu-images', context: 'menu', block: block -%}
          {%- endcapture -%}

            {%- if mega_menu_content != blank -%}
              <div class="mega-menu__promo">
                {{- mega_menu_content -}}
              </div>
            {%- endif -%}
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
